/*Andy Kukuc
 Professor Krieglstad
 3-19-2018
 Project 3 Style Page */

body { 
	background-color: #3e4444;
	font-family: "Helvectica";
	color: white;
	font-size: 20px;
}

#git_command_title h1 { 		/*git title*/
	color: white;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 40px;
	padding: 0px;
}

#git_command_title p {
	color: white;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 20px;
	font-style: italic;
}

img.git_command_title {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.git_images {
	text-align: center;
	width: 800px;
	height: 200px;
}

#navcontainer ul { 	/*navigation bar*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#navcontainer ul li {
	display: inline;
}

#navcontainer ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: white;
	background-color: black;
}

#navcontainer ul li a:hover {
	background-color: #6B5B95;
	color: yellow;
}

#navcontainer a.active {
	background-color: pink;
	color: black;
}
#slideshow {
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	width: 1200px;
}
#slideshow img {
	opacity:0;
	animation-name: fade;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	width: 1200px;
	height: 300px;	
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}

@keyframes fade { 
	0% {opacity:0;}
	20% {opacity:1;}
	33% {opacity:1;}
	53% {opacity:0;}
	100% {opacity:0;}
}

#slideshow img:nth-child(1) {animation-delay: 0s;}
#slideshow img:nth-child(2) {animation-delay: 5s;}
#slideshow img:nth-child(3) {animation-delay: 10s;}
#slideshow img:nth-child(4) {animation-delay: 15s;}

p.word {
	font-size: 20px;
}

h2.word {
	text-decoration: underline dotted;
}

p.word2 {
	text-indent: 5%;
	font-size: 20px;
}
#slideshow2 {
	float: left;
	height: 400px;
	width: 400px;
}

#slideshow2 img {
	margin-right: auto;
	margin-left: auto;
	opacity: 0;
	animation-name: fade_bio;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	width: 400px;
	height: 400px;
	position: absolute;
}

@keyframes fade_bio {
	0% {opacity:1;}
	17% {opacity:1;}
	25% {opacity:0;}
	92% {opacity:0;}
	100% {opacity:1;}
}

#slideshow2 img:nth-child(1) {animation-delay: 0s;}
#slideshow2 img:nth-child(2) {animation-delay: 5s;}
#slideshow2 img:nth-child(3) {animation-delay: 10s;}
#slideshow2 img:nth-child(4) {animation-delay: 15s;}
#slideshow2 img:nth-child(5) {animation-delay: 20s;}

h1.resume_title {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: "Helvectica";
	text-decoration: none;
}

p.resume_title {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: "Helvectica";
	font-size: 20px;	
}

a.resume_title {
	text-decoration: none;
	color: pink;
}

a.resume_title:hover {
	color: lime;
}

table.table1 {
	margin-left: auto;
	margin-right: auto;
}

table.table1 td {
	padding: 10px;
}

table.table2 {
	width: 90%;
}

table.table2 first {
	width: 5px;
}

table.table2 second {
	text-align: right;
}

.embed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#map {
	height: 400px;
	width: 100%;
}
